<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>archer_walk1.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>archer_walk2.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>archer_walk3.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>258</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>archer_walk4.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>archer_walk5.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>archer_walk6.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-24.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>archer_walk7.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>archer_walk8.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>archer_walk9.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>169</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>archer_walk.png</string>
			<key>realTextureFileName</key>
			<string>archer_walk.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>
